<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ja_JP" />

{{- if .Params.image }}
  {{- $imageRes := .Resources.GetMatch .Params.image -}}
  <meta property="og:image" content="{{ $imageRes.Permalink }}" />
{{- else if .Site.Params.image }}
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
{{- end }}

{{- if .Description }}
  <meta property="og:description" content="{{ .Description }}" />
{{- else if .Summary }}
  <meta property="og:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{- with .Site.Params.facebookAppId }}
  <meta property="fb:app_id" content="{{ . }}" />
{{- end }}