<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="ja_JP" />

    {{- if .Params.image }}
      {{- $imageRes := .Resources.GetMatch .Params.image -}}
      <meta property="og:image" content="{{ $imageRes.Permalink }}" />
    {{- else if .Site.Params.image }}
      <meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
    {{- end }}

    {{- if .Description }}
      <meta property="og:description" content="{{ .Description }}" />
    {{- else if .Summary }}
      <meta property="og:description" content="{{ .Summary }}" />
    {{- else if .Site.Params.description }}
      <meta property="og:description" content="{{ .Site.Params.description }}" />
    {{- end }}
    <meta property="fb:app_id" content="351572949682748">
    <meta name="twitter:site" content="@sasaendo">
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
    <meta name="twitter:card" content="app">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
