{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
                {{ .Content }}
                {{ range .Site.Params.customCSS }}
                    <link rel="stylesheet" href="{{ . | absURL}}">
                {{ end }}
            </div>
        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
