<div class="affiliate-box">
    <div class="three columns amazon-image">
      <a href="{{ .Get "amazon-url" }}" target="_blank">
        <img border="0" src="{{ .Get "imageUrl" }}">
      </a>
    </div>
    <div class="affiliate-info">
      <div class="amazon-info">
        <a href="{{ .Get "amazon-url" }}" target="_blank">
          <p class="amazon-name">{{ .Get "title" }}</p>
        </a>
        <div>
          <p>{{ .Get "summary" }}</p>
        </div>
      </div>
      <a href="{{ .Get "amazon-url" }}" target="_blank" id="amazon-btn" class="affiliate-btn">Amazon</a>
      <a href="{{ .Get "rakuten-url" }}" target="_blank" id="rakuten-btn" class="affiliate-btn">楽天</a>
    </div>
    <br>
  </div>